


body{

  font-family: 'Hanalei', cursive;
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px'
  font style: none;
  font-weight: normal;

  background-color: rgb(179,230,255);
  background-image: url("background.jpg");


}
h1{
  font-family: cursive;
}
